body{
            background-color: black;
            color: white;
        }
        #html{
            color: red;
        }
        #CSS{color: blueviolet;
        }

        #curtidas{
        background-color: blueviolet; /*cor de fundo*/
        color: rgb(22, 0, 43); /*cor da letra*/
        padding: 5px 10px 5px 10px
        border 2px solid
        }