body{
            background-color: black;
            color: white;
        }
        #html{
            color: red;
        }
        #CSS{color: blueviolet;
        }

        #curtidas{
            
        }